body {
    margin: 0;
}

            header{
                background-color: #9E0000;
                color: aliceblue;
                text-align: center;
                border: 5px solid black;
                padding: 11px;
                
               
               
            }
    